<header class="header">
    <div class="header__top">
        <div class="header__container _container">
            <div class="header__top-inner">
                <div class="menu-btn">
                    <button class="menu-btn__image"></button>
                </div>
                <nav class="menu">
                    <ul class="menu__list menu">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Магазины</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Доставка и оплата</a>
                        </li>
                    </ul>
                </nav>
                <a href="" class="header__logo">
                    <picture>
                        <source class="header__logo-image" media="(min-width: 991px)" type="image/svg+xml"
                            srcset="assets/image/logo.svg">
                        <img class="header__logo-image" src="assets/image/logo-mobile.svg" alt="">
                    </picture>
                </a>
                <div class="header__box">
                    <b class="header__adress">Москва, ул. Науки 25</b>
                    <ul class="user__list">
                        <li class="user__item">
                            <a href="#" class="user__link"><img class="" src="assets/image/icon/favorites.svg"
                                    alt=""></a>
                        </li>
                        <li class="user__item">
                            <a href="#" class="user__link"><img class="" src="assets/image/icon/personal-account.svg"
                                    alt=""></a>
                        </li>
                        <li class="user__item">
                            <a href="#" class="user__link basket">
                                <img class="" src="assets/image/icon/basket-black.svg" alt="">
                                <span class="basket__num">1</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile">
        <ul class="menu-mobile__list">
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_profile">Войти</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_profile">Регистрация</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_favorite">Избранное</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_basket">Корзина</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_shop">Магазины</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_sale">Акции</a>
            </li>
            <li class="menu-mobile__item">
                <a href="#" class="menu-mobile__link menu-mobile__link_delivery">Доставка и оплата</a>
            </li>
        </ul>
        <b class="menu-mobile__address">Москва, <br> ул. Науки 25</b>
    </div>

    <div class="header__bottom">
        <div class="header__container _container">
            <ul class="menu-categories-list">
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link active" href="#">Квадроциклы</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Катера</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Гидроциклы</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Лодки</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Вездеходы</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Снегоходы</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Двигатели</a>
                </li>
                <li class="menu-categories-list__item" data-da-rmv data-da-cl="menu-mobile__link,a"
                    data-da="menu-mobile__list, last, 992">
                    <a class="menu-categories-list__link" href="#">Запчасти</a>
                </li>
            </ul>
        </div>
    </div>
</header>