/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'SFProDisplay', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #2f3035;
$mainFontSize            : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 0;



// Main color
$main                    : #1c62cd;
$elementBg               : #f0f0f4;
$light                   : #fff;
$success                 : #26de81;
$danger                  : #fc5c65;
$warning                 : #fed330;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Width
$minwidth: 320px;
$mw: 1190;
$mw1: $mw + 12;
$mw2: 991.98;
$mw3: 767.98;
$mw4: 479.98;
